.onePlayerImg {
    width: 40px;
    height: 50px;
}

.number-in-team{
    right: 1%;
}

.bg-custom-red {
    background-color: #fb1303 !important;
}
.bg-custom-blue{
    background-color: #2472de !important;
}

.bg-custom-yellow{
    background-color: #ffff00 !important;
}

.border-custom-red {
    border-color: #fb1303 !important;
}

.border-custom-blue{
    border-color: #2472de !important;
}

.border-custom-yellow {
    border-color: #ffff00 !important;
}

