.onePlayerImg {
    width: 40px;
    height: 50px;
}

.number-in-team{
    right: 1%;
}

.bg-custom-red {
    background-color: #fb1303 !important;
}
.bg-custom-blue{
    background-color: #2472de !important;
}

.bg-custom-light-blue{
    background-color: rgb(195, 211, 238) !important;
}

.bg-custom-yellow{
    background-color: #ffff00 !important;
}

.border-custom-red {
    border-color: #fb1303 !important;
}

.border-custom-blue{
    border-color: #2472de !important;
}

.border-custom-yellow {
    border-color: #ffff00 !important;
}

.event-search-competitor{
    cursor: pointer;
    border: solid rgba(0,255,255,0);
}

.event-search-competitor:hover{
    border: solid aqua;
    border-radius: 8px;
    opacity: 0.5;
    transition-delay: 0.2s;
}

.search-competitor-button{
    min-width: 150px;
}

.gallery-custom li {
    background-color: red;
    opacity: 0.2;
    transition: opacity 0.6s ease;
}

//body { background-color: #EEF0F3; }
//.site-background {
//    position: absolute;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    z-index: -1;
//    background-color: #EEF0F3;
//    background-position: center top;
//    background-attachment: scroll;
//    background-repeat: no-repeat;
//    background-image: url(https://cdn3.sportngin.com/attachments/background_graphic/6954/4126/hockey2.jpg);
//}
