.profilebox .profileInfo {
    transform: rotatex(90deg);
    transform-origin: bottom center 0;
    transition: all 350ms ease;
    opacity: 0;
}


.profilebox .profileInfo h3 {
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}
.profilebox:hover .profileInfo {
    opacity: 1;
    bottom: 15px;
    transform: rotatex(0deg);
}
