.dropdown-item-nav {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item-nav:hover,
.dropdown-item-nav:focus {
    color: #16181b;
    text-decoration: none;
    transition: .1s ease;
    background-color: #a10b16;
}

.dropdown-item-nav.active,
.dropdown-item-nav:active {
    color: #fff;
    text-decoration: none;
    background-color: #3490dc;
}

.dropdown-item-nav.disabled,
.dropdown-item-nav:disabled {
    color: #cad7e2;
    pointer-events: none;
    background-color: transparent;
}

.nav-shadow{
    box-shadow: 5px 5px 30px rgba(39,39,46,0.6);
}

.dropdown-menu.show {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}


/*
=====
EFFECT FADING OUT FOR SIBLINGS MENU OPTIONS
=====
*/

.menu:hover .menu__link:not(:hover){
    color: #241c69;
}

/*
=====
MENU STYLES
=====
*/

/* core styles */

.menu__list{
    display: flex;
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.menu__group{
    flex-grow: 1;
}

.menu__link{
    display: block;
}

/* skin */

.menu{
    background-color: #6c5ce7;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
}

.menu__link{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

/* states */
.menu__link:focus{
    outline: none;
}

/* hover animation */

.menu__link{
    position: relative;
    overflow: hidden;

    will-change: color;
    transition: color .25s ease-out;
}

.menu__link::before,
.menu__link::after
{
    content: "";
    width: 0;
    height: 3px;
    background-color: #fff;

    will-change: width;
    transition: width .1s ease-out;

    position: absolute;
    bottom: 0;
}

.menu__link_group:hover::after {
    display: inline;

    vertical-align: baseline;
    content: "";
    border: inherit;
}


.menu__link_group::after{
    border-right: 0.5em solid transparent;
    border-left: 0.5em solid transparent;
}

.menu__link::before{
    left: 50%;
    transform: translateX(-50%);
}

.menu__link::after{
    right: 50%;
    transform: translateX(50%);
}

.menu__link:hover::before,
.menu__link:hover::after{
    width: 100%;
    transition-duration: .2s;
}
