.pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Ubuntu', sans-serif;
    display: inline-flex;
}
.pagination li a.page-link{
    color: #fff;
    background-color: #1f77e0;
    font-size: 23px;
    font-weight: 600;
    line-height: 27.5px;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    border-radius: 50%;
    border: none;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
    clip-path: polygon(0 0, 85% 0%, 75% 25%, 100% 15%, 100% 100%, 0 100%);
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover{
    color: #fff;
    background-color: transparent;
    text-shadow: 0 0 2px #1f77e0;
}
.pagination li a.page-link:before{
    content: '';
    background-color: #f26202;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: rotate(180deg) scale(0);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
    clip-path: polygon(0 0, 85% 0%, 75% 25%, 100% 15%, 100% 100%, 0 100%);
}
.pagination li.active a.page-link:before,
.pagination li a.page-link:hover:before{
    transform: rotate(0) scale(1);
}
@media only screen and (max-width: 480px){
    .pagination{ display: block; }
    .pagination li{
        display: inline-block;
        margin: 0 0 5px;
    }
}
